Repository graveflex/mono, pull requests merged in 2024-06, with the labels that each got.

#98 deps: update next canary.28 | pnpm | payload beta19
  .github/workflows/lint-and-test.yaml
  README.md
  apps/docs/.storybook/main.ts
  apps/docs/.storybook/preview.tsx
  apps/docs/package.json
  apps/web/README.md
  apps/web/next.config.mjs
  apps/web/package.json
  apps/web/payload.config.ts
  apps/web/src/blocks/FAQBlock/index.tsx
  apps/web/src/blocks/HeroBlock/index.tsx
  apps/web/src/blocks/TextImageBlock/index.tsx
  apps/web/src/lib/isExpandedDoc/__tests__/index.test.ts
  apps/web/src/migrations/20240531_204312.json
  apps/web/src/migrations/20240531_204312.ts
  apps/web/src/payload/fields/BlockConfig.ts
  apps/web/tsconfig.json
  apps/web/vitest.config.ts
  package.json
  packages/settings/package.json
  packages/settings/tests/force.test.ts
  packages/settings/tests/local.test.ts
  packages/settings/tests/preview.test.ts
  packages/settings/vite.config.ts.timestamp-1717100919744-430bf1f4e1a6d.mjs
  packages/settings/vite.config.ts.timestamp-1717101339169-8c5326b9cf6f8.mjs
  packages/theme/fonts/index.ts
  packages/theme/package.json
  packages/theme/src/dark.ts
  packages/theme/src/fontStacks.ts
  packages/theme/src/light.ts
  packages/theme/src/storybook.ts
  packages/theme/src/typography.ts
  packages/types/package.json
  packages/types/payload-types.ts
  packages/types/payloadcms.d.ts
  packages/types/tsconfig.json
  packages/ui/components/Button/Button.test.tsx
  packages/ui/components/Pagination/__tests__/index.test.tsx
  packages/ui/components/Wrapper/index.tsx
  packages/ui/components/primitives/RichText/index.tsx
  packages/ui/components/primitives/RichText/utils/serializeText.tsx
  packages/ui/icons/__tests__/index.test.tsx
  packages/ui/icons/stories/util/IconStoryWrapper.tsx
  packages/ui/package.json
  packages/ui/utils/genRichText.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vitest.workspace.json
  yarn.lock
Labels: tests passed

#100 Feat/global 404 dch 9
  apps/web/payload.config.ts
  apps/web/src/app/(app)/[locale]/not-found.tsx
  apps/web/src/blocks/MarkdownBlock/MarkdownBlock.config.ts
  apps/web/src/blocks/MarkdownBlock/MarkdownBlock.stories.tsx
  apps/web/src/blocks/MarkdownBlock/__tests__/index.test.tsx
  apps/web/src/blocks/MarkdownBlock/index.tsx
  apps/web/src/collections/Pages.ts
  apps/web/src/components/BlocksRenderer/index.tsx
  apps/web/src/components/NotFound/index.tsx
  apps/web/src/globals/FourOhFour/FourOhFour.config.ts
  apps/web/src/migrations/20240603_154659.json
  apps/web/src/migrations/20240603_154659.ts
  apps/web/src/payload/fields/BlockConfig.ts
  apps/web/src/payload/fields/RichTextFields.ts
  packages/types/payload-types.ts
Labels: tests passed, ready to merge, migrations, block, CMS

#105 Fix/live preview locales [DCH-12]
  apps/web/payload.config.ts
  apps/web/src/app/(app)/[locale]/[[...slug]]/page.client.tsx
  apps/web/src/hooks/useLivePreview.ts
  apps/web/src/lib/StyledComponentRegistry.tsx
  apps/web/src/migrations/20240606_164140.json
  apps/web/src/migrations/20240606_164140.ts
  apps/web/src/payload/fields/IconSelect.ts
  package.json
  packages/settings/utils.ts
  packages/theme/src/ThemeProvider.tsx
  packages/types/payload-types.ts
  packages/ui/components/primitives/RichText/index.tsx
  pnpm-lock.yaml
  turbo.json
Labels: tests passed

#106 Fix/audit hygen generators [DCH-15]
  _templates/block/new/Block.config.ejs.t
  _templates/block/new/Block.stroies.ejs.t
  _templates/block/new/BlockRenderer.ejs.t
  _templates/block/new/PageConfigField.ejs.t
  _templates/block/new/index.ejs.t
  _templates/block/new/index.test.ejs.t
  _templates/component/new/Component.stories.ejs.t
  _templates/component/new/index.ejs.t
  _templates/component/new/index.test.ejs.t
  _templates/component/new/prompt.js
  _templates/icon/new/Icon.ejs.t
  _templates/package/new/package.ejs.t
Labels: tests passed

#110 feat(Base Components) Payload Image. DCH-27
  apps/web/src/collections/Images.ts
  apps/web/src/migrations/20240612_171427.json
  apps/web/src/migrations/20240612_171427.ts
  apps/web/src/migrations/20240613_224625.json
  apps/web/src/migrations/20240613_224625.ts
  apps/web/src/payload/fields/IconSelect.ts
  packages/ui/components/primitives/ResponsivePayloadImage/ResponsivePayloadImage.stories.tsx
  packages/ui/components/primitives/ResponsivePayloadImage/index.tsx
  packages/ui/utils/multipleImages.ts
Labels: tests passed, ready for review, migrations

#108 feat(Base Components) Accordion Component. DCH-29
  apps/web/src/migrations/20240606_164140.json
  apps/web/src/migrations/20240606_164140.ts
  packages/ui/components/Accordion/Accordion.stories.tsx
  packages/ui/components/Accordion/__tests__/index.test.tsx
  packages/ui/components/Accordion/index.tsx
Labels: tests passed, ready to merge, component

#111 feat(Base Components) Card Component. DCH-31
  apps/web/src/blocks/CardGridBlock/CardGridBlock.config.ts
  apps/web/src/blocks/CardGridBlock/CardGridBlock.stories.tsx
  apps/web/src/blocks/CardGridBlock/__tests__/index.test.tsx
  apps/web/src/blocks/CardGridBlock/index.tsx
  apps/web/src/collections/Pages.ts
  apps/web/src/components/BlocksRenderer/index.tsx
  apps/web/src/migrations/20240606_164140.ts
  apps/web/src/migrations/20240614_154223.json
  apps/web/src/migrations/20240614_154223.ts
  apps/web/src/payload/fields/Card.ts
  apps/web/src/payload/fields/IconSelect.ts
  packages/types/payload-types.ts
  packages/ui/components/CtaButton/index.tsx
  packages/ui/components/CtaLink/index.tsx
  packages/ui/components/GeneralCard/GeneralCard.stories.tsx
  packages/ui/components/GeneralCard/__tests__/index.test.tsx
  packages/ui/components/GeneralCard/index.tsx
  packages/ui/components/Header/index.tsx
  packages/ui/components/RenderIcon/index.tsx
Labels: tests passed, ready for review, migrations

#112 feat(add): simplify button styles + variants
  apps/web/bin/seed-nav.ts
  apps/web/src/migrations/20240614_164258.json
  apps/web/src/migrations/20240614_164258.ts
  apps/web/src/payload/fields/CTA.ts
  packages/theme/src/colors.ts
  packages/theme/src/dark.ts
  packages/theme/src/light.ts
  packages/types/payload-types.ts
  packages/ui/components/Button/Button.stories.tsx
  packages/ui/components/Button/index.tsx
  packages/ui/components/CtaButton/index.tsx
  packages/ui/components/CtaLink/index.tsx
  packages/ui/components/Footer/index.tsx
  packages/ui/components/GeneralCard/index.tsx
  packages/ui/components/Header/index.tsx
  packages/ui/icons/core/Hamburger.tsx
Labels: tests passed, migrations, component, CMS

#118 dep(next): downgrade to 14
  apps/docs/.storybook/preview.tsx
  apps/web/src/lib/StyledComponentRegistry.tsx
  package.json
  packages/theme/src/ThemeProvider.tsx
  packages/ui/components/primitives/RichText/index.tsx
  pnpm-lock.yaml
Labels: tests passed

#113 feat(Base Components) Form Wrapper. DCH-30
  apps/web/src/lib/StyledComponentRegistry.tsx
  packages/theme/src/ThemeProvider.tsx
  packages/ui/components/FormWrapper/FormWrapper.stories.tsx
  packages/ui/components/FormWrapper/__tests__/index.test.tsx
  packages/ui/components/FormWrapper/index.tsx
  packages/ui/components/primitives/RichText/index.tsx
Labels: tests passed, ready for review

#117 feat(Base Components) FAQ Block. DCH-34
  apps/web/src/blocks/FAQBlock/FAQBlock.config.ts
  apps/web/src/blocks/FAQBlock/FAQBlock.stories.tsx
  apps/web/src/blocks/FAQBlock/index.tsx
  apps/web/src/migrations/20240618_181722.json
  apps/web/src/migrations/20240618_181722.ts
  apps/web/src/migrations/20240620_174246.json
  apps/web/src/migrations/20240620_174246.ts
  packages/types/payload-types.ts
  packages/ui/components/Accordion/Accordion.stories.tsx
  packages/ui/components/Accordion/index.tsx
  packages/ui/utils/genRichText.ts
Labels: tests passed, ready for review, migrations

#121 feat(CMS) Google Translate. DCH-47
  apps/web/package.json
  apps/web/payload.config.ts
  package.json
  pnpm-lock.yaml
  turbo.json
Labels: tests passed, ready for review

#119 feat(Base Components) Hero Block. DCH-35
  apps/web/src/blocks/CardGridBlock/CardGridBlock.stories.tsx
  apps/web/src/blocks/HeroBlock/HeroBlock.config.ts
  apps/web/src/blocks/HeroBlock/HeroBlock.stories.tsx
  apps/web/src/blocks/HeroBlock/__tests__/index.test.tsx
  apps/web/src/blocks/HeroBlock/index.tsx
  apps/web/src/blocks/TextImageBlock/index.tsx
  apps/web/src/fields/Input/Input.config.ts
  apps/web/src/fields/Input/Input.stories.tsx
  apps/web/src/fields/Input/__tests__/index.test.tsx
  apps/web/src/fields/Input/index.tsx
  apps/web/src/migrations/20240624_200004.json
  apps/web/src/migrations/20240624_200004.ts
  apps/web/src/payload/fields/BlockConfig.ts
  apps/web/src/payload/fields/TextInput.ts
  packages/types/payload-types.ts
  packages/ui/components/Wrapper/Wrapper.stories.tsx
  packages/ui/components/Wrapper/index.tsx
Labels: tests passed, ready for review, migrations

#122 Feat/blog template [DCH-6]
  apps/web/bin/seed_blog.ts
  apps/web/package.json
  apps/web/payload.config.ts
  apps/web/src/app/(app)/[locale]/(blog)/blog/[...slug]/page.client.tsx
  apps/web/src/app/(app)/[locale]/(blog)/blog/[...slug]/page.tsx
  apps/web/src/app/(app)/[locale]/(blog)/blog/page.client.tsx
  apps/web/src/app/(app)/[locale]/(blog)/blog/page.tsx
  apps/web/src/blocks/CardGridBlock/CardGridBlock.stories.tsx
  apps/web/src/blocks/TextImageBlock/index.tsx
  apps/web/src/collections/Authors.ts
  apps/web/src/collections/Pages.ts
  apps/web/src/collections/Posts.ts
  apps/web/src/collections/Tags.ts
  apps/web/src/hooks/invalidateCache.ts
  apps/web/src/lib/fetchPayloadDataRest.ts
  apps/web/src/migrations/20240624_210708.json
  apps/web/src/migrations/20240624_210708.ts
  apps/web/src/payload/fields/Card.ts
  packages/types/payload-types.ts
  packages/ui/components/BlogDetail/BlogDetail.stories.tsx
  packages/ui/components/BlogDetail/__tests__/index.test.tsx
  packages/ui/components/BlogDetail/index.tsx
  packages/ui/components/BlogIndex/BlogIndex.stories.tsx
  packages/ui/components/BlogIndex/__tests__/index.test.tsx
  packages/ui/components/BlogIndex/index.tsx
  packages/ui/components/Button/index.tsx
  packages/ui/components/GeneralCard/GeneralCard.stories.tsx
  packages/ui/components/GeneralCard/index.tsx
  packages/ui/components/Pagination/Pagination.stories.tsx
  packages/ui/components/Pagination/index.tsx
  packages/ui/components/StaticTag/StaticTag.stories.tsx
  packages/ui/components/StaticTag/__tests__/index.test.tsx
  packages/ui/components/StaticTag/index.tsx
  packages/ui/lib/hooks/useIndexControls.tsx
Labels: tests passed, ready for review, migrations, component, CMS

#124 feat(Base Components) Text Image & Hero Revisions
  apps/web/src/blocks/HeroBlock/HeroBlock.stories.tsx
  apps/web/src/blocks/HeroBlock/index.tsx
  apps/web/src/blocks/TextImageBlock/TextImageBlock.stories.tsx
  apps/web/src/blocks/TextImageBlock/index.tsx
  apps/web/src/payload/fields/TextInput.ts
Labels: tests passed, ready for review

#123 feat(seeds): kitchen sink block seeder [DCH-17]
  apps/web/bin/seed-nav.ts
  apps/web/bin/seed_blog.ts
  apps/web/bin/seed_kitchen-sink.ts
  apps/web/package.json
Labels: enhancement, tests passed, ready for review

#125 feat(Blocks): create VideoBlock [DCH-53]
  apps/web/src/blocks/VideoBlock/VideoBlock.config.ts
  apps/web/src/blocks/VideoBlock/VideoBlock.stories.tsx
  apps/web/src/blocks/VideoBlock/__tests__/index.test.tsx
  apps/web/src/blocks/VideoBlock/index.tsx
  apps/web/src/collections/Pages.ts
  apps/web/src/components/BlocksRenderer/index.tsx
  apps/web/src/migrations/20240625_201120.json
  apps/web/src/migrations/20240625_201120.ts
  packages/types/payload-types.ts
  packages/ui/components/Video/index.tsx
Labels: tests passed, ready for review, migrations, block, CMS

#129 Feat/update readme 18
  README.md
Labels: documentation, tests passed
