Repository graveflex/mono, pull requests merged in 2024-07, with the labels that each got.

#127 Feat/block section header 54
  _templates/block/new/index.ejs.t
  apps/web/bin/seed_kitchen-sink.ts
  apps/web/src/blocks/SectionHeaderBlock/SectionHeaderBlock.config.ts
  apps/web/src/blocks/SectionHeaderBlock/SectionHeaderBlock.stories.tsx
  apps/web/src/blocks/SectionHeaderBlock/__tests__/index.test.tsx
  apps/web/src/blocks/SectionHeaderBlock/index.tsx
  apps/web/src/blocks/VideoBlock/index.tsx
  apps/web/src/collections/Pages.ts
  apps/web/src/components/BlocksRenderer/index.tsx
  apps/web/src/migrations/20240627_155555.json
  apps/web/src/migrations/20240627_155555.ts
  packages/types/payload-types.ts
  packages/ui/components/primitives/RichText/utils/serializeText.tsx
Labels: tests passed, ready for review, migrations, block

#128 Feat/gallery grid block [DCH-55]
  apps/web/bin/seed_kitchen-sink.ts
  apps/web/src/blocks/GalleryGridBlock/GalleryGridBlock.config.ts
  apps/web/src/blocks/GalleryGridBlock/GalleryGridBlock.stories.tsx
  apps/web/src/blocks/GalleryGridBlock/__tests__/index.test.tsx
  apps/web/src/blocks/GalleryGridBlock/index.tsx
  apps/web/src/collections/Pages.ts
  apps/web/src/components/BlocksRenderer/index.tsx
  apps/web/src/migrations/20240701_152356.json
  apps/web/src/migrations/20240701_152356.ts
  packages/types/payload-types.ts
Labels: tests passed, ready to merge, migrations, block

#126 Feat/payload redirects [DCH-57]
  apps/web/package.json
  apps/web/payload.config.ts
  apps/web/src/app/(app)/[locale]/(blog)/blog/[...slug]/page.tsx
  apps/web/src/app/(app)/[locale]/[[...slug]]/page.tsx
  apps/web/src/lib/redirectApi.ts
  apps/web/src/migrations/20240701_163851.json
  apps/web/src/migrations/20240701_163851.ts
  package.json
  packages/types/payload-types.ts
  pnpm-lock.yaml
Labels: tests passed, ready to merge, migrations, CMS

#131 Feat/nav dropdowns
  apps/web/bin/seed-nav.ts
  packages/ui/components/CtaLink/index.tsx
  packages/ui/components/Header/index.tsx
Labels: tests passed, ready to merge, component

#132 feat(RedirectApi): include path query
  apps/web/src/app/(app)/[locale]/(blog)/blog/[...slug]/page.tsx
  apps/web/src/app/(app)/[locale]/[[...slug]]/page.tsx
  apps/web/src/lib/redirectApi.ts
Labels: bugfix, tests passed, ready for review

#130 feat(Base Components) Form Builder. DCH-56
  .env.example
  README.md
  apps/web/package.json
  apps/web/payload.config.ts
  apps/web/src/blocks/FormBlock/FormBlock.config.ts
  apps/web/src/blocks/FormBlock/FormBlock.stories.tsx
  apps/web/src/blocks/FormBlock/__tests__/index.test.tsx
  apps/web/src/blocks/FormBlock/index.tsx
  apps/web/src/blocks/HeroBlock/HeroBlock.config.ts
  apps/web/src/blocks/HeroBlock/index.tsx
  apps/web/src/blocks/TextImageBlock/TextImageBlock.config.ts
  apps/web/src/blocks/TextImageBlock/index.tsx
  apps/web/src/collections/Pages.ts
  apps/web/src/components/BlocksRenderer/index.tsx
  apps/web/src/migrations/20240701_190502.json
  apps/web/src/migrations/20240701_190502.ts
  apps/web/src/payload/fields/Inputs/Checkbox/Checkbox.config.ts
  apps/web/src/payload/fields/Inputs/Checkbox/Checkbox.ts
  apps/web/src/payload/fields/Inputs/Select/Select.config.ts
  apps/web/src/payload/fields/Inputs/Select/Select.ts
  apps/web/src/payload/fields/Inputs/TextArea/TextArea.config.ts
  apps/web/src/payload/fields/Inputs/TextInput/TextInput.config.ts
  apps/web/src/payload/fields/Inputs/TextInput/TextInput.ts
  packages/types/payload-types.ts
  packages/ui/components/Button/index.tsx
  packages/ui/components/CtaButton/index.tsx
  packages/ui/components/FormWrapper/index.tsx
  pnpm-lock.yaml
  turbo.json
Labels: tests passed, ready for review, migrations, block, CMS

#143 feat(deps): payload -> 59| translator -> 1.2.0
  package.json
  pnpm-lock.yaml
Labels: bugfix, enhancement, tests passed

#137 fix: general block cleanup
  apps/web/src/blocks/CardGridBlock/index.tsx
  apps/web/src/blocks/FAQBlock/index.tsx
  apps/web/src/blocks/FormBlock/index.tsx
  apps/web/src/blocks/HeroBlock/index.tsx
  apps/web/src/blocks/TextImageBlock/index.tsx
  apps/web/src/components/BlocksRenderer/index.tsx
  apps/web/src/components/Wrapper/index.tsx
Labels: bugfix, tests passed, ready for review
